
							<div id="mainleft">
								<div class="pad_content">
								<h1>Welcome to our store</h1>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit vero eos et accusamus et iusto odio dignissimos.</p>
								<div class="prodbox">
									<div class="prodbox_c">
									<div class="prodbox_b">
										<div class="pad_box">
											<h2 class="prod_title">Product #01</h2>
											<img src="images/product1.jpg" alt="" class="imgcenter" />
											<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
											<p><span class="price"> $230.00</span></p>
											<p><a href="product_description.html"><img src="images/but_detail.gif" alt="" class="imgleft" /></a><a href="shopping_cart.html"><img src="images/but_addcart.gif" alt="" /></a></p>
										</div>
									</div>
									</div>
								</div><!-- end prodbox -->
								<div class="prodbox">
									<div class="prodbox_c">
									<div class="prodbox_b">
										<div class="pad_box">
											<h2 class="prod_title">Product #02</h2>
											<img src="images/product2.jpg" alt="" class="imgcenter" />
											<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
											<p><span class="price"> $230.00</span></p>
											<p><a href="product_description.html"><img src="images/but_detail.gif" alt=""  class="imgleft" /></a><a href="shopping_cart.html"><img src="images/but_addcart.gif" alt="" /></a></p>
										</div>
									</div>
									</div>
								</div><!-- end prodbox -->
								<div class="prodbox nomargin">
									<div class="prodbox_c">
									<div class="prodbox_b">
										<div class="pad_box">
											<h2 class="prod_title">Product #03</h2>
											<img src="images/product3.jpg" alt="" class="imgcenter" />
											<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
											<p><span class="price"> $230.00</span></p>
											<p><a href="product_description.html"><img src="images/but_detail.gif" alt="" class="imgleft" /></a><a href="shopping_cart.html"><img src="images/but_addcart.gif" alt="" /></a></p>
										</div>
									</div>
									</div>
								</div><!-- end prodbox -->
								
								<br style="clear:both;"  />
								
								<div class="prodbox">
									<div class="prodbox_c">
									<div class="prodbox_b">
										<div class="pad_box">
											<h2 class="prod_title">Product #04</h2>
											<img src="images/product4.jpg" alt="" class="imgcenter" />
											<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
											<p><span class="price"> $230.00</span></p>
											<p><a href="product_description.html"><img src="images/but_detail.gif" alt="" class="imgleft" /></a><a href="shopping_cart.html"><img src="images/but_addcart.gif" alt="" /></a></p>
										</div>
									</div>
									</div>
								</div><!-- end prodbox -->
								<div class="prodbox">
									<div class="prodbox_c">
									<div class="prodbox_b">
										<div class="pad_box">
											<h2 class="prod_title">Product #05</h2>
											<img src="images/product5.jpg" alt="" class="imgcenter" />
											<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
											<p><span class="price"> $230.00</span></p>
											<p><a href="product_description.html"><img src="images/but_detail.gif" alt="" class="imgleft" /></a><a href="shopping_cart.html"><img src="images/but_addcart.gif" alt="" /></a></p>
										</div>
									</div>
									</div>
								</div><!-- end prodbox -->
								<div class="prodbox nomargin">
									<div class="prodbox_c">
									<div class="prodbox_b">
										<div class="pad_box">
											<h2 class="prod_title">Product #06</h2>
											<img src="images/product6.jpg" alt="" class="imgcenter" />
											<p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
											<p><span class="price"> $230.00</span></p>
											<p><a href="product_description.html"><img src="images/but_detail.gif" alt="" class="imgleft" /></a><a href="shopping_cart.html"><img src="images/but_addcart.gif" alt="" /></a></p>
										</div>
									</div>
									</div>
								</div><!-- end prodbox -->
								<div class="clr"></div><!-- clear float -->
								</div><!-- end pad_content -->
							</div><!-- end mainleft -->
							
			